.error{
color: red;
font-weight: bold;
}

.fondo{
background-color: tomato;
}

.erronom{
    color: red;
    font: bold;
    }

.errorape{
    color: red;
    font: bold;
    }

.erroredad{

    background-color: tomato;
}